{% extends "Frontend/Views/layouts/app.twig" %}
{% block body %}
<div id="homeComponent">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for article in articles %}
                <div class="col-md-6">
                    <div class="card">
                        <a href="{{ url_for('article-view', {'id': article.id, 'slug': article.slug}) }}">
                            <div class="card-image discussion-image card-image-top" style="background-color: rgb(134, 53, 24); background-image: url({{ article.image }}); color: rgb(255, 255, 255); background-position: center">
                                <div>
                                    <h5>{{article.title}}</h5>
                                    {{article.description}}
                                </div>
                            </div>
                        </a>
                        <div class="card-header p-3">
                            <div class="card-header-title-container">
                                <div class="textbox">
                                    <p class="timestamp">
                                        <img src="/assets/images/time.gif"> {{article.created_at|date("d-M H:i")}}
                                    </p>
                                    <p class="author">
                                        by <a href="#"><b style="font-weight: 500">{{article.user.username}}</b></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for photo in photos %}
                <div class="col col-md-3">
                    <div class="photo-content">
                        <div class="inner-photo" style="background: url({{photo.url}}); background-position: center;"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row mt-4">
                <div class="col col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title-container">
                                <div class="background-gray card-header-icon-container">
                                    <div class="icon login"></div>
                                </div>
                                <div class="card-header-titles">
                                    <div class="card-header-title">{{ lang('home.latestbadges.title') }}</div>
                                    <span class="card-header-subtitle">{{ lang('home.latestbadges.description') }}</span>
                                </div>
                                <div class="card-header-actions"></div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="d-flex justify-content-center  flex-wrap">
                                {% for badge, value in badges %}
                                <div class="badge">
                                    <img src="{{ config('hotel_settings.nitro_url') }}/assets/c_images/album1584/{{badge}}" title="Test">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% if user is empty %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title-container">
                            <div class="background-gray card-header-icon-container">
                                <div class="icon login"></div>
                            </div>
                            <div class="card-header-titles">
                                <div class="card-header-title">{{ lang('home.login.title') }}</div>
                                <span class="card-header-subtitle">{{ lang('home.login.description') }}</span>
                            </div>
                            <div class="card-header-actions"></div>
                        </div>
                    </div>
                    <form method="post" action="{{ url_for('auth_sign-in') }}">
                    <div class="card-content">
                            <div class="mb-3">
                                <div class="form-group">
                                    <span class="fa fa-user form-control-icon"></span>
                                    <input type="text" name="username" class="form-control" placeholder="{{ lang('home.login.username') }}">
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-group">
                                    <span class="fa fa-lock form-control-icon"></span>
                                    <input type="password" name="password" class="form-control" placeholder="{{ lang('home.login.password') }}">
                                </div>
                            </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fw btn-primary">{{ lang('home.login.button') }}</button>
                    </div>
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title-container">
                            <div class="background-gray card-header-icon-container">
                                <div class="icon rooms"></div>
                            </div>
                            <div class="card-header-titles">
                                <div class="card-header-title">{{ lang('home.rooms.title') }}</div>
                                <span class="card-header-subtitle">{{ lang('home.rooms.description') }}</span>
                            </div>
                            <div class="card-header-actions"></div>
                        </div>
                    </div>
                    <div class="card-content card-content-rooms">
                        {% for room in rooms %}
                        <div class="card-content-room">
                            <span class="room-image" {% if camera %}style="background-image: url('{{ config('hotel_settings.nitro_url') }}/');" {% endif %}></span>
                            <div class="room-column">
                                <div class="room-title">{{ room.name }}</div>
                                <div class="room-description">{{ room.description }}</div>
                                <div class="room-owner">
                                    <span class="head-figure" style="background-image: url('{{ config('hotel_settings.imaging_url') }}?figure={{ room.user.look }}&amp;action=std&amp;direction=2&amp;head_direction=2&amp;img_format=undefined&amp;gesture=sml&amp;headonly=1&amp;size=s');"></span>
                                    <p class="username">{{ room.user.username }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title-container">
                            <div class="background-gray card-header-icon-container">
                                <div class="icon groups"></div>
                            </div>
                            <div class="card-header-titles">
                                <div class="card-header-title">{{ lang('home.guilds.title') }}</div>
                                <span class="card-header-subtitle">{{ lang('home.guilds.description') }}</span>
                            </div>
                            <div class="card-header-actions"></div>
                        </div>
                    </div>
                    <div class="card-content card-content-guilds">
                        {% for guild in guilds %}
                            <div class="card-content-guild">
                                <div class="guild-image">
                                    <img src="{{ config('hotel_settings.nitro_url') }}/assets/c_images/Badgeparts/generated/{{ guild.badge }}.png">
                                </div>
                                <div class="guild-image-column">
                                    <div class="guild-image-title">{{ guild.name }}</div>
                                    <div class="guild-image-description">{{ guild.description }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
