{% extends "Frontend/Views/layouts/app.twig" %}
{% block body %}
<div class="articleComponent">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-image discussion-image card-image-top" style="background-color: rgb(134, 53, 24); background-image: url({{article.image}}); color: rgb(255, 255, 255); background-position: center">
                            <div>
                                <h5>{{article.title}}</h5>
                                {{article.description}}
                            </div>
                        </div>
                        <div class="card-header p-3">
                            <div class="card-header-title-container">
                                <div class="textbox">
                                    <p class="timestamp">
                                        <img src="/assets/images/time.gif"> {{article.created_at|date("d-M H:i")}}
                                    </p>
                                    <p class="author">
                                        by <a href="#"><b style="font-weight: 500">{{article.user.username}}</b></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            {{article.content|raw}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title-container" style="position: relative;">
                            <div class="card-header-title">
                                {{ lang('article.comments') }}
                            </div>
                        </div>
                    </div>
                    {% for comment in comments %}
                    <div class="card-content no-spacing oddeven">
                        <div class="author">
                            <div class="avatar">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('site_settings.imaging_url') }}?figure={{ comment.user.look }}&amp;head_direction=3&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <div class="info">
                                <span class="username"><a href="/user/{{ comment.user.username }}">{{ comment.user.username }}</a></span>
                                <span>{{ comment.content }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if comments is empty %}
                        <div class="card-content">
                            There are no comments yet, are you the first?
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col mb-4">
                <form method="post" action="{{ url_for('comment_create') }}">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title-container" style="position: relative;">
                            <div class="card-header-title">
                                Who's new?
                            </div>
                        </div>
                    </div>
                    <div class="card-content no-spacing">
                        <textarea name="content" placeholder="Comment here..."></textarea>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fw btn-primary">{{ lang('article.comment') }}</button>
                        <input type="hidden" name="article_id" value="{{ article.id }}">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
