{% extends "Frontend/Views/layouts/app.twig" %}
{% block body %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title-container">
                    <div class="card-header-title">{{ lang('highscores.most.diamonds') }}</div>
                </div>
            </div>
            <div class="card-image top-users-image">
                <div class="watching-people"></div>
                <div class="podium">
                    {% for item in diamonds %}
                        <img alt="User avatar"
                             class="avatar avatar-m
                                    {% if loop.first %}first{% endif %}
                                    {% if loop.last %}third{% endif %}
                                    {%  if loop.index0 == 1 %}second{% endif %}
                                 "
                             src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}
                                    {% if loop.first %}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {% if loop.last %}&amp;head_direction=2&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {%  if loop.index0 == 1 %}&amp;head_direction=4&amp;direction=4&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                "
                        >
                    {% endfor %}                                                         ">
                </div>
            </div>
            <div class="card-content no-spacing">
                <div class="highscore-row">
                    {% if diamonds is empty %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            {{ lang('highscores.no_score') }}
                        </div>
                    {% endif %}
                    {% for item in diamonds %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <a href="#">{{ item.user.username }}</a>
                            <span class="amount">
                                <i class="icon-diamonds"></i> {{ item.amount }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title-container">
                    <div class="card-header-title">{{ lang('highscores.most.duckets') }}</div>
                </div>
            </div>
            <div class="card-image top-users-image">
                <div class="watching-people"></div>
                <div class="podium">
                    {% for item in duckets %}
                        <img alt="User avatar"
                             class="avatar avatar-m
                                    {% if loop.first %}first{% endif %}
                                    {% if loop.last %}third{% endif %}
                                    {%  if loop.index0 == 1 %}second{% endif %}
                                 "
                             src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}
                                    {% if loop.first %}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {% if loop.last %}&amp;head_direction=2&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {%  if loop.index0 == 1 %}&amp;head_direction=4&amp;direction=4&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                "
                        >
                    {% endfor %}                                                        ">
                </div>
            </div>
            <div class="card-content no-spacing">
                <div class="highscore-row">
                    {% if duckets is empty %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            {{ lang('highscores.no_score') }}
                        </div>
                    {% endif %}
                    {% for item in duckets %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <a href="#">{{ item.user.username }}</a>
                            <span class="amount">
                                <i class="icon-duckets"></i> {{ item.amount }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title-container">
                    <div class="card-header-title">{{ lang('highscores.most.credits') }}</div>
                </div>
            </div>
            <div class="card-image top-users-image">
                <div class="watching-people"></div>
                <div class="podium">
                    {% for item in credits %}
                        <img alt="User avatar"
                             class="avatar avatar-m
                                    {% if loop.first %}first{% endif %}
                                    {% if loop.last %}third{% endif %}
                                    {%  if loop.index0 == 1 %}second{% endif %}
                                 "
                             src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.look }}
                                    {% if loop.first %}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {% if loop.last %}&amp;head_direction=2&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {%  if loop.index0 == 1 %}&amp;head_direction=4&amp;direction=4&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                "
                        >
                    {% endfor %}">
                </div>
            </div>
            <div class="card-content no-spacing">
                <div class="highscore-row">
                    {% if credits is empty %}
                        <div class="justify-between top-users-item no-spacing highscore">
                            {{ lang('highscores.no_score') }}
                        </div>
                    {% endif %}
                    {% for item in credits %}
                        <div class="justify-between top-users-item no-spacing highscore">
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <a href="#">{{ item.username }}</a>
                            <span class="amount">
                                <i class="icon-credits"></i> {{ item.credits }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title-container">
                    <div class="card-header-title">{{ lang('highscores.most.achievements') }}</div>
                </div>
            </div>
            <div class="card-image top-users-image">
                <div class="watching-people"></div>
                <div class="podium">
                    {% for item in achievements %}
                        <img alt="User avatar"
                             class="avatar avatar-m
                                    {% if loop.first %}first{% endif %}
                                    {% if loop.last %}third{% endif %}
                                    {%  if loop.index0 == 1 %}second{% endif %}
                                 "
                             src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}
                                    {% if loop.first %}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {% if loop.last %}&amp;head_direction=2&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {%  if loop.index0 == 1 %}&amp;head_direction=4&amp;direction=4&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                "
                        >
                    {% endfor %}                                                       ">
                </div>
            </div>
            <div class="card-content no-spacing">
                <div class="highscore-row">
                    {% if achievements is empty %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            {{ lang('highscores.no_score') }}
                        </div>
                    {% endif %}
                    {% for item in achievements %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <a href="#">{{ item.user.username }}</a>
                            <span class="amount">
                                <i class="icon-credits"></i> {{ item.achievement_score }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title-container">
                    <div class="card-header-title">{{ lang('highscores.most.online') }}</div>
                </div>
            </div>
            <div class="card-image top-users-image">
                <div class="watching-people"></div>
                <div class="podium">
                    {% for item in online %}
                        <img alt="User avatar"
                             class="avatar avatar-m
                                    {% if loop.first %}first{% endif %}
                                    {% if loop.last %}third{% endif %}
                                    {%  if loop.index0 == 1 %}second{% endif %}
                                 "
                             src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}
                                    {% if loop.first %}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {% if loop.last %}&amp;head_direction=2&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {%  if loop.index0 == 1 %}&amp;head_direction=4&amp;direction=4&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                "
                        >
                    {% endfor %}                                                       ">
                </div>
            </div>
            <div class="card-content no-spacing">
                <div class="highscore-row">
                    {% if online is empty %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            {{ lang('highscores.no_score') }}
                        </div>
                    {% endif %}
                    {% for item in online %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <a href="#">{{ item.user.username }}</a>
                            <span class="amount">
                                    <i class="icon-credits"></i> {{ item.online_time }}
                                </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title-container">
                    <div class="card-header-title">{{ lang('highscores.most.respects') }}</div>
                </div>
            </div>
            <div class="card-image top-users-image">
                <div class="watching-people"></div>
                <div class="podium">
                    {% for item in respects %}
                        <img alt="User avatar"
                             class="avatar avatar-m
                                    {% if loop.first %}first{% endif %}
                                    {% if loop.last %}third{% endif %}
                                    {%  if loop.index0 == 1 %}second{% endif %}
                                 "
                             src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}
                                    {% if loop.first %}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {% if loop.last %}&amp;head_direction=2&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                    {%  if loop.index0 == 1 %}&amp;head_direction=4&amp;direction=4&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0{% endif %}
                                "
                        >
                    {% endfor %}
                </div>
            </div>
            <div class="card-content no-spacing">
                <div class="highscore-row">
                    {% if respects is empty %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            {{ lang('highscores.no_score') }}
                        </div>
                    {% endif %}
                    {% for item in respects %}
                        <div class="justify-between top-users-item no-spacing ng-star-inserted highscore">
                            <div class="self-baseline">
                                <img alt="User avatar" class="avatar avatar-m" src="{{ config('hotel_settings.imaging_url') }}/?figure={{ item.user.look }}&amp;head_direction=3&amp;direction=3&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <a href="#">{{ item.user.username }}</a>
                            <span class="amount">
                                    <i class="icon-credits"></i> {{ item.respects_received }}
                                </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
