{% extends "Frontend/Views/layouts/app.twig" %}
{% block body %}
    <div id="photoComponent">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
            {% for photo in photos %}
            <div class="col col-md-3 photo">
                <div class="inner-photo image-pixelated" style="background-image: url({{ photo.url }}); background-position: center;">
                    <div class="bottom-bar">
                        <div class="d-flex align-items-center">
                            <div class="figure-avatar">
                                <img alt="Photo avatar" class="avatar avatar-m" src="{{ config('site_settings.imaging_url') }}?figure={{ photo.user.look }}&amp;head_direction=3&amp;direction=2&amp;crr=3&amp;gesture=sml&amp;size=m&amp;headonly=0">
                            </div>
                            <div>
                            <div class="photo-title">{{ photo.user.username }}</div>
                                <span class="photo-title-subtitle">{{ photo.timestamp|date("m/d/Y")}}</span>
                            </div>
                        <div class="photo-actions">
                            <div class="d-flex">
                                <div class="ml-auto m-auto">
                                    <i class="fas fa-thumbs-up vote" data-vote="like" data-id="{{ photo.id }}" style="color: green; font-size: 16px"></i>
                                    <span class="count-up">{{ photo.likes }}</span>
                                </div>
                                <div class="ml-auto m-auto">
                                    <i class="fas fa-thumbs-down vote" data-vote="dislike" data-id="{{ photo.id }}" style="color: red; font-size: 16px"></i>
                                    <span class="count-down">{{ photo.dislikes }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
